$main-color: skyblue;

body {
  background-color: $main-color;
}

body.loading:after {
  display: block;
  position: fixed;
  content: '';
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
